@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */

html {
    overflow-x: hidden;
}

td {
    @apply px-6 py-3 align-middle;
}

.action {
    @apply transition duration-500 ease-in-out cursor-pointer;
}

th {
    @apply px-6 align-middle border border-solid py-3 text-xs uppercase whitespace-nowrap font-semibold text-left;
}

table {
    @apply items-center w-full border-collapse bg-gray-100;
}

.center {
    @apply relative py-16 bg-gray-50 w-screen grid place-items-center;
    @extend body;
}

.grid-4 {
    @apply flex flex-col mb-4;
}

.label {
    @apply mb-2 font-bold text-lg text-gray-900;
}

.formInput {
    @apply border py-2 px-3 text-gray-800;
}

/* Background */

body {
    background-color: rgba(229, 229, 247, 1);
    background-image: linear-gradient(30deg, #b0b0b6 12%, transparent 12.5%, transparent 87%, #b0b0b6 87.5%, #b0b0b6), linear-gradient(150deg, #b0b0b6 12%, transparent 12.5%, transparent 87%, #b0b0b6 87.5%, #b0b0b6), linear-gradient(30deg, #b0b0b6 12%, transparent 12.5%, transparent 87%, #b0b0b6 87.5%, #b0b0b6), linear-gradient(150deg, #b0b0b6 12%, transparent 12.5%, transparent 87%, #b0b0b6 87.5%, #b0b0b6), linear-gradient(60deg, #b0b0b677 25%, transparent 25.5%, transparent 75%, #b0b0b677 75%, #b0b0b677), linear-gradient(60deg, #b0b0b677 25%, transparent 25.5%, transparent 75%, #b0b0b677 75%, #b0b0b677);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

/* Scrollbar */

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: rgba(179, 177, 177, 1);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 1);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 1);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
    background: rgba(68, 68, 68, 1);
    border-radius: 10px;
}

/* Tables */

.fade-leave-active {
    background-color: #f44336;
}

.fade-leave-active,
.fade-enter-active {
    transition: all 3s;
}

.fade-leave-to,
.fade-enter {
    opacity: 0;
}

/* Sweetalert2 */
.swal2-popup {
    border: 1px solid black;
}

/* Fav icon */

.button{
    @apply border-2 border-black invisible m-2 leading-6 rounded-full shadow-md w-12 h-12 opacity-0 relative no-underline block text-black hover:scale-105 bg-white transition opacity-20 duration-500 ease-in-out transition transform duration-100 ease-in-out;
}

.buttons {
    bottom: 120%;
    @apply absolute text-center w-full;
}

.actions a i {
    transform: translate(-50%, -50%);
}

.toggle:not(:checked)~.buttons a {
    transition: ease-in-out 0.75s;
}

.toggle:checked~.buttons a {
    opacity: 1;
    visibility: visible;
    transition: ease-in-out 0.75s;
}

/* Toggle delete image */

.deleteImage:checked ~ .dot {
    transform: translateX(100%);
    background-color: #ef5350;
  }